<div class="row-fluid">
  <div class="span12">
    {{#collection.paginator}}
      <div class="{{ collection.resource_name}}">
        <h3 class="title"><a href="{{url}}">{{title}}</a> <span class="date">{{ date }}</span></h3>

        {{{ summary }}}

        <div class="more">
          <a href="{{url}}" class="btn btn-small">read more..</a>
        </div>
      </div>
    {{/collection.paginator}}
    
    <div class="pagination">
      <ul>
      {{#collection.paginator_navigation}}
        {{#is_active_page}}
          <li class="active"><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
        {{^is_active_page}}
          <li><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
      {{/collection.paginator_navigation}}
      </ul>
    </div>
  </div>
</div>
